.about {
  background-color: var(--bg_main-grey);
  padding: 60px 30px 100px;
  text-align: center;
  color: var(--color-main-black);
}

.about_title {
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 42px 0;
}

.about_subtitle_ru,
.about_subtitle_en {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px;
  max-width: 780px;
}

.about_description_ru,
.about_description_en {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px;
  text-align: justify;
  max-width: 780px;
}

.about_subtitle_en {
  margin: 15px auto 15px;
}

.about_description_en {
  margin: 0 auto;
}

@media (max-width: 480px) {
  .about_subtitle_ru,
  .about_subtitle_en .about_description_ru,
  .about_description_en {
    font-size: 14px;
  }
}
