.contacts {
  padding: 55px 20px 63px;
  text-align: center;
}

.contacts_title {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-main-black);
}

.contacts_button {
  width: 210px;
  height: 42px;
  background-color: var(--color-main-black);

  border: none;
  border-radius: 21px;
  margin: 75px 0 30px;
}

.contacts_button:hover {
  opacity: 0.8;
}

.button_link {
  font-size: 24px;
  font-weight: 500;
  color: var(--bg-main);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.social_icon {
  width: 65px;
  height: 65px;
  fill: var(--color-main-black);
}
.social_icon:hover {
  fill: lightcoral;
}

.contacts_info {
  width: 260px;
  margin: 35px auto 0;
  color: var(--font-color-grey);

  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .socials {
    gap: 20px;
  }
  .contacts_info {
    font-size: 14px;
  }
  .social_icon {
    width: 55px;
    height: 55px;
  }
}
