.history {
  padding: 65px 0 70px;
  text-align: center;
  color: var(--color-main-black);
}

.history_title {
  font-size: 34px;
  font-weight: 700;
}

.history_photo {
  width: 100%;
  max-width: 950px;
  height: 655px;
  object-fit: cover;
  margin: 30px 0 0 0;
}

.history_description {
  margin: 30px 0 0 0;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .history {
    padding: 50px 0 70px;
  }
  .history_photo {
    height: 480px;
  }
  .history_description {
    font-size: 14px;
  }
}
